<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myboard">

	<select id="list" resultType="ErrataDTO">
	   select bNo, bType, qCode, ssId, bContent,
	         to_char(bDate,'yyyy/mm/dd hh24:mi:ss') bDate
	   from ERRATA_BOARD
       order by bno desc 
	</select>
	
	<select id="selectQName" parameterType="string" resultType="string">
		select qName
		from Qualification
		where qCode = #{qCode}
	</select>
	
	<select id="totalCount" resultType="int">
	 select count(*) 
	 from ERRATA_BOARD
	</select>
	
	<select id="selectSchoolDTO" parameterType="string" resultType="SchoolDTO">
	 select SCHOOL.s_code, s_bonboo, s_gigwan, s_name, s_room
	 from SCHEDULE_SUPERVISOR
	 join SCHOOL
	on SCHEDULE_SUPERVISOR.S_CODE = SCHOOL.S_CODE
	where SCHEDULE_SUPERVISOR.SSID = #{ssId}
	</select>
	
	<select id="listNotice" resultType="ErrataDTO">
	   select bNo, bType, qCode, ssId, bContent,
	         to_char(bDate,'yyyy/mm/dd hh24:mi:ss') bDate
	   from ERRATA_BOARD
	   where bType = 'notice'
       order by bno desc 
	</select>
	
	<select id="totalCountNotice" resultType="int">
	 select count(*) 
	 from ERRATA_BOARD
	 where bType = 'notice'
	</select>
	
	<insert id="write" parameterType="ErrataDTO">
		insert into ERRATA_BOARD
		values( errata_seq.nextval, #{bType}, #{qCode}, #{ssId}, #{bContent}, sysdate)
    </insert>
    
    <select id="selectErrataDTO" parameterType="int" resultType="ErrataDTO">
	   select bNo, bType, ssId, bContent,
	         to_char(bDate,'yyyy/mm/dd hh24:mi:ss') bDate
	   from ERRATA_BOARD
	   where bNo = #{bNo}
       
	</select>
	
	<update id="updateErrata" parameterType="ErrataDTO">
		update ERRATA_BOARD
		set bContent = #{bContent}
		where bNo = #{bNo}
	</update>
	
	<delete id="deleteErrata" parameterType="int">
		delete ERRATA_BOARD
		where bNo = #{bNo}
	</delete>
	
	<select id="selectQCode" parameterType="string" resultType="string">
		select qCode
		from Qualification
		where qName = #{qName}
	</select>
	
</mapper>













